export ZDOTDIR="${HOME}/.zprezto"

{{ if eq .chezmoi.os "darwin" -}}
_homebrew_path="/opt/homebrew"
export PATH="${homebrew_path}/bin:${homebrew_path}/sbin:${PATH}"
{{ end }}

source "${ZDOTDIR}/runcoms/zshenv"